<h2>Name Randomizer</h2>

<textarea form='testformid' cols='50' rows='20' name='query' value='<%= params[:query] %>'></textarea>
<form action='/' method='get' id='testformid'>
  <button type='submit' name='action' value='comma'>Return With Commas</button>
  <button type='submit' name='action' value='newline'>Return With Newlines</button>
</form>

<% if params[:action] == 'comma' %>
  <p><%= @randomized.join(', ') %></p>
<% else %>

  <ul style="list-style: none;">
    <% @randomized.each do |name| %>
      <li><%= name %></li>
    <% end %>
  </ul>
  
<% end %>
