<h2>Enter Names</h2>

<textarea form='testformid' cols='35' wrap='soft'></textarea>
<form action='/search' method='get' id='testformid'>
  <input name='query' value='<%= params[:query] %>'>
  <button type='submit'>Randomize</button>
</form>